@import "tailwindcss";
@import "tw-animate-css";
@source inline("full-bleed post-two-col");

:root {
    --x-primary-50: oklch(0.962 0.018 272.314);
    --x-primary-100: oklch(0.93 0.034 272.788);
    --x-primary-200: oklch(0.87 0.065 274.039);
    --x-primary-300: oklch(0.785 0.115 274.713);
    --x-primary-400: oklch(0.673 0.182 276.935);
    --x-primary-500: oklch(0.585 0.233 277.117);
    --x-primary-600: oklch(0.511 0.262 276.966);
    --x-primary-700: oklch(0.457 0.24 277.023);
    --x-primary-800: oklch(0.398 0.195 277.366);
    --x-primary-900: oklch(0.359 0.144 278.697);
    --x-primary-950: oklch(0.257 0.09 281.288);

    /* Slate is for surfaces */
    --x-neutral-50: oklch(0.984 0.003 247.858);
    --x-neutral-100: oklch(0.968 0.007 247.896);
    --x-neutral-200: oklch(0.929 0.013 255.508);
    --x-neutral-300: oklch(0.869 0.022 252.894);
    --x-neutral-400: oklch(0.704 0.04 256.788);
    --x-neutral-500: oklch(0.554 0.046 257.417);
    --x-neutral-600: oklch(0.446 0.043 257.281);
    --x-neutral-700: oklch(0.372 0.004 257.287);
    --x-neutral-800: oklch(0.279 0.004 260.031);
    --x-neutral-900: oklch(0.208 0.002 265.755);
    --x-neutral-950: oklch(0.129 0.002 264.695);

    --primary-50: var(--x-primary-50);
    --primary-100: var(--x-primary-100);
    --primary-200: var(--x-primary-200);
    --primary-300: var(--x-primary-300);
    --primary-400: var(--x-primary-400);
    --primary-500: var(--x-primary-500);
    --primary-600: var(--x-primary-600);
    --primary-700: var(--x-primary-700);
    --primary-800: var(--x-primary-800);
    --primary-900: var(--x-primary-900);
    --primary-950: var(--x-primary-950);

    /* Slate is for surfaces */
    --neutral-50: var(--x-neutral-50);
    --neutral-100: var(--x-neutral-100);
    --neutral-200: var(--x-neutral-200);
    --neutral-300: var(--x-neutral-300);
    --neutral-400: var(--x-neutral-400);
    --neutral-500: var(--x-neutral-500);
    --neutral-600: var(--x-neutral-600);
    --neutral-700: var(--x-neutral-700);
    --neutral-800: var(--x-neutral-800);
    --neutral-900: var(--x-neutral-900);
    --neutral-950: var(--x-neutral-950);
}

@media (prefers-color-scheme: dark) {
    :root {
        --primary-50: var(--x-primary-950);
        --primary-100: var(--x-primary-900);
        --primary-200: var(--x-primary-800);
        --primary-300: var(--x-primary-700);
        --primary-400: var(--x-primary-600);
        --primary-500: var(--x-primary-500);
        --primary-600: var(--x-primary-400);
        --primary-700: var(--x-primary-300);
        --primary-800: var(--x-primary-200);
        --primary-900: var(--x-primary-100);
        --primary-950: var(--x-primary-50);

        /* Slate is for surfaces */
        --neutral-50: var(--x-neutral-950);
        --neutral-100: var(--x-neutral-900);
        --neutral-200: var(--x-neutral-800);
        --neutral-300: var(--x-neutral-700);
        --neutral-400: var(--x-neutral-600);
        --neutral-500: var(--x-neutral-500);
        --neutral-600: var(--x-neutral-400);
        --neutral-700: var(--x-neutral-300);
        --neutral-800: var(--x-neutral-200);
        --neutral-900: var(--x-neutral-100);
        --neutral-950: var(--x-neutral-50);
    }
}

@theme {
    /* TODO, graceful backoff? */
    --animate-flip-once: 500ms ease-out 2 flip;

    --radius-*: initial;
    --color-primary-50: var(--primary-50);
    --color-primary-100: var(--primary-100);
    --color-primary-200: var(--primary-200);
    --color-primary-300: var(--primary-300);
    --color-primary-400: var(--primary-400);
    --color-primary-500: var(--primary-500);
    --color-primary-600: var(--primary-600);
    --color-primary-700: var(--primary-700);
    --color-primary-800: var(--primary-800);
    --color-primary-900: var(--primary-900);
    --color-primary-950: var(--primary-950);

    /* Slate is for surfaces */
    --color-neutral-50: var(--neutral-50);
    --color-neutral-100: var(--neutral-100);
    --color-neutral-200: var(--neutral-200);
    --color-neutral-300: var(--neutral-300);
    --color-neutral-400: var(--neutral-400);
    --color-neutral-500: var(--neutral-500);
    --color-neutral-600: var(--neutral-600);
    --color-neutral-700: var(--neutral-700);
    --color-neutral-800: var(--neutral-800);
    --color-neutral-900: var(--neutral-900);
    --color-neutral-950: var(--neutral-950);

    --color-text: var(--color-neutral-700);
    --color-text-muted: var(--color-neutral-300);

    --color-foreground: var(--color-primary-700);
    --color-foreground-hover: var(--color-primary-900);

    --color-background: var(--color-neutral-100);
    --color-elevation: var(--color-neutral-200);
    --color-elevation-2: var(--color-neutral-300);
    --color-border: var(--color-neutral-400);

    @keyframes flip {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(180deg);
        }
    }
}

@utility row--default {
    @apply flex flex-row items-center gap-2;
}

@utility badge {
    @apply row--default px-2 py-1 bg-elevation border;

    [data-icon] {
        @apply size-4;
    }
}

@utility tag {
    @apply py-0 px-1 border-0 bg-elevation-2;
}

@utility layout-grid {
    @apply grid grid-cols-[1fr_min(80ch,_100%)_1fr_1fr];

    & > * {
        @apply col-start-2 col-end-4;
    }
}

@utility clickable {
    @apply focus-visible:outline-2 cursor-pointer outline-offset-1 opacity-80 hover:opacity-100 focus:opacity-100 outline-border focus-visible:no-underline aria-disabled:opacity-60 aria-disabled:cursor-not-allowed;
}

@utility btn {
    @apply border px-2 text-sm font-medium py-1 clickable text-foreground no-underline bg-elevation;
}

/* Generic two column grid */
@utility two-col-grid {
    @apply grid grid-cols-1 lg:grid-cols-2 items-start justify-start gap-8;

    * {
        @apply m-0;
    }
}
/* Occupy the whole two-col-grid */
@utility full-bleed {
    @apply !col-start-1 !col-end-4;
}

@utility post-grid {
    @apply grid grid-cols-1 lg:grid-cols-[70ch_1fr] items-start justify-start space-y-8;

    & > * {
        @apply col-start-1 col-end-2;
    }
}

@utility post-two-col {
    @apply two-col-grid !full-bleed;
}

@utility grid-cols-card {
    /* https://css-tricks.com/a-responsive-grid-layout-with-no-media-queries/ */
    @apply grid-cols-[repeat(auto-fill,_minmax(300px,_1fr))] gap-4;
}

@layer base {
    * {
        @apply border-border/70;
    }

    html {
        @apply selection:bg-foreground/20 bg-background font-sans text-base;
    }

    body {
        @apply bg-background text-text;
    }

    a {
        @apply font-bold text-foreground underline clickable;
    }

    h1 {
        @apply text-3xl mb-8 full-bleed;
    }

    h2 {
        @apply text-2xl;
    }

    h3 {
        @apply text-xl;
    }

    :is(#article, .max-w-prose) :where(ul) {
        @apply list-disc pl-6;
    }

    :is(#article, .max-w-prose) :where(ol) {
        @apply list-decimal pl-6;
    }

    pre {
        @apply p-4;
    }

    [data-icon] {
        @apply size-8;
    }

    blockquote {
        @apply ps-4 border-s;
    }
}

@view-transition {
    navigation: auto;
}
